<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Raw Material Management</title>
<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="container">
  <div class="header">
      <!-- <img src="{{ url_for('static', filename='VIIT.png') }}" class="logo-left"> -->
      <img src="/static/VIIT.png" class="logo-left">

    <h1>Raw Material Management</h1>
    <!-- <img src="{{ url_for('static', filename='Fluid Controls.jpeg') }}" class="logo-right"> -->
    <!-- <img src="/static/Fluid Controls.jpeg" class="logo-right"> -->


  </div>
  <div class="form-container">
    <form action="/generate_qr" method="post">
      <div class="row">
        <div class="input-group">
          <label for="item_code">Item Code:</label>
          <input type="text" id="item_code" name="item_code">
        </div>
        <div class="input-group">
          <label for="item_quantity">Item Quantity:</label>
          <input type="text" id="item_quantity" name="item_quantity">
        </div>
      </div>
      <div class="row">
        <div class="input-group">
          <label for="grn_no">GRN No.:</label>
          <input type="text" id="grn_no" name="grn_no">
        </div>
        <div class="input-group">
          <label for="grn_date">GRN Date:</label>
          <input type="date" id="grn_date" name="grn_date">
        </div>
      </div>
      <div class="row">
        <div class="input-group">
          <label for="material_type">Material Type:</label>
          <select id="material_type" name="material_type" class="select-dropdown">
            <option value="Material Type 1"> Steel</option>
            <option value="Material Type 2">Cold Steel</option>
            <option value="Material Type 3">Aluminium</option>
          </select>
        </div>
        <div class="input-group">
          <label for="dimension">Dimensions:</label>
          <select id="dimension" name="dimension" class="select-dropdown">
            <option value="Dimension 1">Dimension 1</option>
            <option value="Dimension 2">Dimension 2</option>
            <option value="Dimension 3">Dimension 3</option>
          </select>
        </div>
      </div>
      <button type="submit">Generate QR Code</button>
    </form>
  </div>
</div>
</body>
</html>
